<%= form_for @post, html: { multipart: true } do |f| %>

	<div id="error_messages">
		<% if @post.errors.any? %>
			<h3>
				<%= pluralize(@post.errors.count, "error") %>
				Prohibited posts to be posted.
			</h3>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div id="post_div">
			
			<%= f.text_area :body, placeholder:'Today some happiness happened when   ...', class:'u-full-width'%>
	


				 <!-- <button id="pic"> -->
						<!-- <%= f.file_field :image , id:'pic'%> -->
                 <!-- </button> -->


			<%= f.submit 'happy', id:'happy_b' %>


     		






		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>



<% end %>
