<div id="daily_quote">
	<%= @daily_quote %>
</div>
<div id="quote_author">
		- <%= @author %>
</div>

<div id="saving_quote">
<%= link_to "Save this quote", quotes_path(:quotes => @daily_quote, :author => @author, :user_id => current_user.id), remote: true, :method => :post %>
</div>

<div id="quote_generator">
	<%= link_to "Show a different quote", new_random_quote_path, remote: true %>
</div>
<hr>

<h1>Create Post</h1>
<%= render "form" %>

<hr>
<h1>Show Personal Posts</h1>
<% if @posts != nil %>
	<% @user.posts.each do |p| %>
		<p>
			User Id: <%= p.user_id %>
			<br>
			Content: <%= p.body %>
			<br>
			Picture: <%= image_tag p.image.url(:large) unless p.image_file_name.nil? %>

			<% if p.user_id == current_user.id %>
				<%= link_to "Delete Post", post_path(p.id), :method => :delete, 
						:data => {confirm: "Do you wish to delete your happy moment?"} %>
			<% end %>
		</p>
	<% end %>
<% end %>
<hr>
<h1>D3 Data Visualization Section (if we have time)</h1>
<hr>
<% if @posts != nil %>
	<h1>All User Posts</h1>
		<% @posts.each do |p| %>
			<p>
				User ID: <%= p.user_id %>
				<br>
				Pictures: <%= image_tag p.image.url(:thumb) unless p.image_file_name.nil? %>
				Contents: <%= p.body %>
			</p>
		<% end %>
<% end %>



