<!DOCTYPE html>
<html>
<head>
  <title>HappyThoughts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- if the user is not signed in  -->
<% if !user_signed_in? %>

			<nav>
				<span id="logo">
					<span>happy</span>
					<span id="black">thoughts</span>
				</span>

				<ul>
					<li><a href="/">Home</a></li>
					<!-- <li><a href="#">About</a></li> -->
					<li><a href="/users/sign-up">Sign Up</a></li>
					<li><a href="/users/login">Log In</a></li>
				</ul>
			
			</nav>
<% end %> 


<!-- if the user is signed in -->
<% if user_signed_in? %>
	<nav>	
		<span id="logo">
			<span>happy</span>
			<span id="black">thoughts</span>
		</span>
		<ul>
			<li><a href="/posts">Profile</a></li>
			<li><a href="/quotes">Favorites</a></li> 
			<li><a href="/users/edit">Settings</a></li> 
			<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
		</ul>
	</nav>
<% end %>	

<%= flash[:error] if flash[:error] %>


<%= yield %>

</body>
</html>
