<%= form_for(@quote) do |f| %>
	<% if @quote.errors.any? %>
			<%= pluralize(@post.errors.count, "error") %>
				Prohibited posts to be posted.
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<%= f.hidden_field :quote, :value => @daily_quote %>
	<%= f.hidden_field :author, :value => @author %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.submit %>
<% end %>